<!--Barra de Navegacion-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand margin-left" routerLink="/inicio">
            <img class="logo" src="Logoparques.png" height="50">
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 navbar-links">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/florafauna">FYF</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/sobre-parques">Parque</a>
                </li>
                @if (isAdmin) {
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin">Admin</a>
                </li>
                }
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 margin-right">
                @if (userLoginOn && userData && userData.email) {
                <!-- Cuenta del usuario -->
                <li class="nav-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="nav-link ms-2 d-flex align-items-center gap-2">
                        <i class="fa-solid fa-user fs-5"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end rounded shadow-sm mt-3 p-2 bg-light border-0"
                        style="min-width: 200px">
                        <div class="px-3 py-2">
                            <h6 class="mb-0 fw-semibold">¡Bienvenido, {{ userName }}!</h6>
                        </div>
                        <hr class="my-1" />
                        <a href="#" class="dropdown-item d-flex align-items-center gap-2 text-secondary"
                            (click)="logout()">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <span>Salir</span>
                        </a>
                    </div>
                </li>
                } @else {
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
                </li>
                <li class="nav-item register-item margin-right">
                    <a class="nav-link register-link ms-2" routerLink="/register">Registrarse</a>
                </li>
                }
            </ul>
        </div>
    </div>
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
    crossorigin="anonymous"></script>