/* Efecto hover general para todos los nav-links */
.navbar .nav-link {
    transition: all 0.5s ease;
    padding: 8px 12px;
    border-radius: 4px;
    color: #333;
    margin: 10px;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
}

/* Estado normal: fondo azul, texto blanco */
.register-link {
    background-color: #00ceab;
    color: white !important;
    border: 1.5px solid #00ceab;
    border-radius: 5px;
    padding: 8px 16px;
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* Hover: fondo gris claro, texto azul */
.register-item:hover .register-link {
    background-color: rgba(0, 0, 0, 0.05);
    color: #00ceab !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border: 1.5px solid #00ceab;
}

/* Hover para todos excepto el de registro */
.navbar .nav-link:hover:not(.register-link) {
    color: #00ceab;
    text-decoration: none;
}

.margin-left{
    margin-left: 70px;
}

.margin-right{
    margin-right: 70px;
}

.navbar-collapse {
    min-width: 100px;
}

#sidebar:not(.expand) .sidebar-link[data-bs-toggle="collapse"]::after {
    display: none;
}

.navbar-expand .navbar-nav .dropdown-menu{
    box-shadow: 0.1rem .2rem rgba(0, 0, 0,.05);
}

.dropdown-item i{
    font-size: 1.1rem;
    margin-right: .75rem;
}
